{% extends 'base.html' %}

{% block content %}
<div class="header">
  <h1 class="title">{{ section.title }}</h1>
</div>

<div class="row">
  <div class="column">
    <ul class="link nav">
      <li><a href="/">/</a></li>
      <li><a href="/about">/about</a></li>
      <li><a href="/doc">/doc</a></li>
    </ul>
  </div>

  <div class="column">
    <ul class="link">
      {% for page in section.pages %}
      <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
